# Comics Rx
## [A comic book recommendation system](https://github.com/MangrobanGit/comics_rx)
<img src="https://images.unsplash.com/photo-1514329926535-7f6dbfbfb114?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" width="400" align='left'>

---

## Import Arcane transaction data

### Using **Google Sheets**

The data is currently stored on Google drive, and is readable as a Google Sheet. I'm going to try to use a Google Sheet API to get into Pandas so I don't have to worry about it traversing across my local machine everytime I need to re-import it.

In [1]:
import pandas as pd
from gspread_pandas import Spread, Client

In [2]:
import gspread_pandas

In [3]:
#gspread_pandas.conf.get_config()

#### Work through `gspread_pandas` Example

In [4]:
file_name = "http://stats.idre.ucla.edu/stat/data/binary.csv"
df = pd.read_csv(file_name)

In [12]:
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [15]:
spread = Spread('https://docs.google.com/spreadsheets/d/19_AEcTEwHXe7LS-U1scZIHLqP0iF7W4UYMiSlBUE5bs/edit#gid=0')

In [16]:
spread.sheets

In [17]:
spread.url

'https://docs.google.com/spreadsheets/d/19_AEcTEwHXe7LS-U1scZIHLqP0iF7W4UYMiSlBUE5bs'

In [18]:
spread.open_sheet(0)

In [19]:
spread

In [21]:
deef = spread.sheet_to_df(index=None)
deef

  field    nm
0   343   dan
1    44  phil

**Sweet!** That example worked. I was able to download a Google Sheet into this Juypter Notebook as a `pandas dataframe`.  

Let's try to get the dataset!

**Instantiate spreadsheet object**

In [22]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1IznAOevvBbV0k3OKPImUMUESSwWXoOaASngPJUepnlU'

trans = Spread(sheet_url)

**Double check details of the spreadsheet  to make sure we are looking at the correct one.**

In [26]:
print(trans.sheets)

print(trans.url)

[<Worksheet 'Copy of Detailed Sales Report.tab' id:1615090597>]
https://docs.google.com/spreadsheets/d/1IznAOevvBbV0k3OKPImUMUESSwWXoOaASngPJUepnlU