# Comics Rx
## [A comic book recommendation system](https://github.com/MangrobanGit/comics_rx)
<img src="https://images.unsplash.com/photo-1514329926535-7f6dbfbfb114?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" width="400" align='left'>

---

# ALS Model - Reduced Data - EDA, Prep

This time, as explored in the EDA NB, let's consider removing customers who we feel have too few or too many purchases to influence the model in the intended way.

Examples:
- Too few - Customers who have only bought 1 comic (series).
- Too many - Customers with > 1000 series (for example, think all eBay customers are rolled into one account number).

# Libraries

In [2]:
%matplotlib inline
%load_ext autoreload
%autoreload 2  # 1 would be where you need to specify the files
#%aimport data_fcns

import pandas as pd  # dataframes
import os
import time
import numpy as np

# Data storage
from sqlalchemy import create_engine  # SQL helper
import psycopg2 as psql  #PostgreSQL DBs

# import necessary libraries
import pyspark
from pyspark.sql import SparkSession
from pyspark.ml.evaluation import RegressionEvaluator
# from pyspark.sql.types import (StructType, StructField, IntegerType
#                                ,FloatType, LongType, StringType)
from pyspark.sql.types import *

import pyspark.sql.functions as F
from pyspark.sql.functions import col, explode, lit, isnan, when, count
from pyspark.ml.recommendation import ALS, ALSModel
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import (CrossValidator, ParamGridBuilder, 
                               TrainValidationSplit)
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [3]:
import sys

In [4]:
sys.path.append('..')

In [5]:
# Custom
import data_fcns as dfc
import keys  # Custom keys lib
import comic_recs as cr

In [6]:
# # instantiate SparkSession object
# spark = pyspark.sql.SparkSession.builder.master("local[*]").getOrCreate()
# # spark = SparkSession.builder.master("local").getOrCreate()

In [7]:
from pyspark import SparkConf

conf = SparkConf()

conf = (conf.setMaster('local[*]')
#         .set('spark.executor.memory', '1G') #https://stackoverflow.com/questions/48523629/spark-pyspark-an-error-occurred-while-trying-to-connect-to-the-java-server-127
        .set('spark.driver.memory', '7G')
        .set('spark.driver.maxResultSize', '4G'))
#         .set('spark.executor.memory', '1G')
#         .set('spark.driver.memory', '10G')
#         .set('spark.driver.maxResultSize', '5G'))

sc = pyspark.SparkContext().getOrCreate(conf=conf)

from pyspark.sql import SQLContext
sql_context = SQLContext(sc)

sc.setCheckpointDir('./checkpoints')

# spark.sparkContext.setCheckpointDir("hdfs://datalake/check_point_directory/als")

## Import the data

There is way to directly hit PostgreSQL through JDBC, but I don't know how to do that yet. So have worked around by saving the candidate dataset to JSON, and then will use that as input to Spark.

In [8]:
# We have previously created a version of the transactions table 
# and filtered it down.
trans = sql_context.read.json('raw_data/trans_filtered.json')

In [9]:
# Persist the data
trans.persist()

DataFrame[account_num: string, comic_title: string, date_sold: bigint, item_id: string, publisher: string, qty_sold: bigint, title_and_num: string]

In [10]:
print(trans.count(), len(trans.columns))

327839 7

In [11]:
# check schema
trans.printSchema()

root
 |-- account_num: string (nullable = true)
 |-- comic_title: string (nullable = true)
 |-- date_sold: long (nullable = true)
 |-- item_id: string (nullable = true)
 |-- publisher: string (nullable = true)
 |-- qty_sold: long (nullable = true)
 |-- title_and_num: string (nullable = true)

### More exploration/testing

We won't be using pandas dataframes in the matrix factorization through Spark, but let's cast to one anyway as it will be easier to work with for EDA.

In [12]:
# cast to Pandas dataframe to turn timestamp data to datetime and check nulls. 
trans_df = trans.select('*').toPandas()
trans_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327839 entries, 0 to 327838
Data columns (total 7 columns):
account_num      327839 non-null object
comic_title      327839 non-null object
date_sold        327839 non-null int64
item_id          327839 non-null object
publisher        327839 non-null object
qty_sold         327839 non-null int64
title_and_num    327839 non-null object
dtypes: int64(2), object(5)
memory usage: 17.5+ MB

In [13]:
# Let's double check the data is how we expect it
trans_df.head()

,account_num,comic_title,date_sold,item_id,publisher,qty_sold,title_and_num
0,00399,Royal Historian of Oz (SLG),1279136980000,DCD416182,Amaze Ink Slave Labor Graphics,1,Royal Historian of Oz #1
1,00327,Royal Historian of Oz (SLG),1288543119000,DCD416182,Amaze Ink Slave Labor Graphics,1,Royal Historian of Oz #1
2,00327,Royal Historian of Oz (SLG),1288543119000,DCD423794,Amaze Ink Slave Labor Graphics,1,Royal Historian of Oz #2
3,01065,Warlord of Io & Other Storie (SLG),1412166247000,DCD390709,Amaze Ink Slave Labor Graphics,1,Warlord of Io & Other Stories
4,01033,Afterlife With Archie (Archie),1390505789000,DCD630105,Archie Comics,1,Afterlife With Archie #1 2nd P

In [14]:
trans_df['dt'] = pd.to_datetime(trans_df['date_sold'], unit='ms')

Yes. Reverse-confirmed versus the original transactions dataframe in the other notebook that this datetime is correct.

### Data Prep for ALS

Let's aggregate the data to the two columns we need:
- `account_num` - This is the identifier for individual customers.


- `comic_title` - The comic. Represents individual volumes/runs of a comic.


- `score` - We need to figure out what we want to use to act as a `score`. If these were Amazon items then review scores would be natural fit; but we don't have that. We can maybe use a binary flag of `bought`/`not bought`. Or we can use the `qty_sold`. This might be interesting in that it might capture some interesting behavior from comic 'collectors/speculators'. Since this is first pass, I'm curious as to what `qty_sold` might do!

We only care about `account_num`, `comic_title` and `qty_sold`.

In [15]:
comics_sold = trans[['account_num', 'comic_title', 'qty_sold']]
comics_sold.persist()

DataFrame[account_num: string, comic_title: string, qty_sold: bigint]

In [16]:
comics_sold = comics_sold.withColumn('bought', lit(1))

In [17]:
comics_sold.show(10)

+-----------+--------------------+--------+------+
|account_num|         comic_title|qty_sold|bought|
+-----------+--------------------+--------+------+
|      00399|Royal Historian o...|       1|     1|
|      00327|Royal Historian o...|       1|     1|
|      00327|Royal Historian o...|       1|     1|
|      01065|Warlord of Io & O...|       1|     1|
|      01033|Afterlife With Ar...|       1|     1|
|      01333|Afterlife With Ar...|       1|     1|
|      00946|Afterlife With Ar...|       1|     1|
|      01278|Afterlife With Ar...|       1|     1|
|      01212|Afterlife With Ar...|       1|     1|
|      00877|Afterlife With Ar...|       1|     1|
+-----------+--------------------+--------+------+
only showing top 10 rows

In [18]:
comics_sold = trans[['account_num', 'comic_title', 'qty_sold']]
comics_sold.persist()

DataFrame[account_num: string, comic_title: string, qty_sold: bigint]

In [19]:
total_comics_sold = ( comics_sold.groupBy(['account_num', 'comic_title'])
                               .agg({'qty_sold':'sum'})
                    )
total_comics_sold.persist()

DataFrame[account_num: string, comic_title: string, sum(qty_sold): bigint]

Ok, let's take a look at the results.

In [20]:
total_comics_sold.show(10)

+-----------+--------------------+-------------+
|account_num|         comic_title|sum(qty_sold)|
+-----------+--------------------+-------------+
|      02247|Bubblegun VOL 2 (...|            1|
|      00487|Captain Swing (Av...|            2|
|      00029|God Is Dead (Avatar)|            7|
|      01260| Providence (Avatar)|            1|
|      00172|   Supergod (Avatar)|            3|
|      02493|       Abbott (Boom)|            3|
|      00052|Adventure Time Ma...|            6|
|      00032|Big Trouble In Li...|           11|
|      01149| Broken World (Boom)|            2|
|      01489|Jim Henson Labyri...|            1|
+-----------+--------------------+-------------+
only showing top 10 rows

In [21]:
print(total_comics_sold.count(), len(total_comics_sold.columns))

61871 3

In [22]:
total_comics_sold = total_comics_sold.withColumn('bought', lit(1))

I don't like that default column name. Let's fix that to be `qty_sold` again.

In [23]:
total_comics_sold.show(10)

+-----------+--------------------+-------------+------+
|account_num|         comic_title|sum(qty_sold)|bought|
+-----------+--------------------+-------------+------+
|      02247|Bubblegun VOL 2 (...|            1|     1|
|      00487|Captain Swing (Av...|            2|     1|
|      00029|God Is Dead (Avatar)|            7|     1|
|      01260| Providence (Avatar)|            1|     1|
|      00172|   Supergod (Avatar)|            3|     1|
|      02493|       Abbott (Boom)|            3|     1|
|      00052|Adventure Time Ma...|            6|     1|
|      00032|Big Trouble In Li...|           11|     1|
|      01149| Broken World (Boom)|            2|     1|
|      01489|Jim Henson Labyri...|            1|     1|
+-----------+--------------------+-------------+------+
only showing top 10 rows

In [24]:
cols = ['account_num', 'comic_title', 'bought']
total_comics_sold = total_comics_sold[cols]

In [25]:
print(total_comics_sold.count(), len(total_comics_sold.columns))

61871 3

### Formatting

Sooooooo, I forgot that the values need to be numeric. So need to fix that.

#### Convert `account_id` to integer

In [26]:
to_int_udf = F.udf(dfc.make_int, IntegerType())

In [27]:
account_num_col = total_comics_sold['account_num']

In [28]:
total_comics_sold = total_comics_sold.withColumn('account_id'
                                        ,to_int_udf(account_num_col))
total_comics_sold.persist()

DataFrame[account_num: string, comic_title: string, bought: int, account_id: int]

In [29]:
total_comics_sold.show(10)

+-----------+--------------------+------+----------+
|account_num|         comic_title|bought|account_id|
+-----------+--------------------+------+----------+
|      02247|Bubblegun VOL 2 (...|     1|      2247|
|      00487|Captain Swing (Av...|     1|       487|
|      00029|God Is Dead (Avatar)|     1|        29|
|      01260| Providence (Avatar)|     1|      1260|
|      00172|   Supergod (Avatar)|     1|       172|
|      02493|       Abbott (Boom)|     1|      2493|
|      00052|Adventure Time Ma...|     1|        52|
|      00032|Big Trouble In Li...|     1|        32|
|      01149| Broken World (Boom)|     1|      1149|
|      01489|Jim Henson Labyri...|     1|      1489|
+-----------+--------------------+------+----------+
only showing top 10 rows

In [30]:
print(total_comics_sold.count(), len(total_comics_sold.columns))

61871 4

Now I need to find a way to give ids to the `comic_title`. Kind of clunky, but I do have the version in PostgreSQL of the big table. I can just build an ID table up there as source of truth. I could do something on PySpark side, but then think would want to save it somewhere (e.g. the DB) anyway. So might as well do it from the top.

#### Get `comic_id`

In [31]:
comics = sql_context.read.json('raw_data/comics.json')
comics.persist()

DataFrame[comic_id: bigint, comic_title: string]

In [32]:
comics.count()

7202

In [33]:
comics.show(10)

+--------+--------------------+
|comic_id|         comic_title|
+--------+--------------------+
|       1|0Secret Wars (Mar...|
|       2|100 Bullets Broth...|
|       3|100 Penny Press L...|
|       4|100 Penny Press S...|
|       5|100 Penny Press T...|
|       6|100 Penny Press T...|
|       7|100th Anniversary...|
|       8|12 Reasons To Die...|
|       9|    13 Coins (Other)|
|      10|13th Artifact One...|
+--------+--------------------+
only showing top 10 rows

In [34]:
print(comics.count(), len(comics.columns))

7202 2

Now we need to join this back into `total_comics_sold`.

In [35]:
# Set aliases
tot = total_comics_sold.alias('tot')
com = comics.alias('com')

In [36]:
tot_sold_ids_only = tot.join(com.select('comic_id','comic_title')
                      ,tot.comic_title==com.comic_title).select('account_id'
                                                                , 'comic_id'
                                                                , 'bought')
tot_sold_ids_only.persist()
tot_sold_ids_only.show(10)

+----------+--------+------+
|account_id|comic_id|bought|
+----------+--------+------+
|      2247|     995|     1|
|       487|    1102|     1|
|        29|    2680|     1|
|      1260|    4870|     1|
|       172|    6023|     1|
|      2493|      66|     1|
|        52|     116|     1|
|        32|     755|     1|
|      1149|     971|     1|
|      1489|    3503|     1|
+----------+--------+------+
only showing top 10 rows

In [37]:
tot_sold_ids_only.printSchema()

root
 |-- account_id: integer (nullable = true)
 |-- comic_id: long (nullable = true)
 |-- bought: integer (nullable = false)

In [38]:
print(tot_sold_ids_only.count(), len(tot_sold_ids_only.columns))

61871 3

## Create table with zeros

In [39]:
# Get all accounts
acct_ids = tot_sold_ids_only.select("account_id").distinct().persist()
acct_ids.show()

+----------+
|account_id|
+----------+
|       148|
|      2659|
|      1645|
|      2142|
|       833|
|      1088|
|      2866|
|       897|
|       243|
|      1896|
|      2811|
|      2235|
|      1025|
|      1395|
|      2563|
|      1507|
|      1522|
|      1460|
|      2393|
|      1352|
+----------+
only showing top 20 rows

In [40]:
# Get just comic_ids
comic_ids = comics.select("comic_id").distinct().persist()
comic_ids.show()

+--------+
|comic_id|
+--------+
|      26|
|      29|
|     474|
|     964|
|    1677|
|    1697|
|    1806|
|    1950|
|    2040|
|    2214|
|    2250|
|    2453|
|    2509|
|    2529|
|    2927|
|    3091|
|    3506|
|    3764|
|    4590|
|    4823|
+--------+
only showing top 20 rows

In [41]:
comic_ids.count()

7202

In [42]:
acct_ids.count()

1071

In [51]:
tot_sold_ids_only.show()

+----------+--------+------+
|account_id|comic_id|bought|
+----------+--------+------+
|      2247|     995|     1|
|       487|    1102|     1|
|        29|    2680|     1|
|      1260|    4870|     1|
|       172|    6023|     1|
|      2493|      66|     1|
|        52|     116|     1|
|        32|     755|     1|
|      1149|     971|     1|
|      1489|    3503|     1|
|      1234|    3979|     1|
|       560|    4221|     1|
|       130|    5497|     1|
|       742|    6717|     1|
|      1212|    5001|     1|
|      1287|    7018|     1|
|      1406|     136|     1|
|       291|     260|     1|
|        32|     525|     1|
|       742|     762|     1|
+----------+--------+------+
only showing top 20 rows

# Limit comic Ids to model

I think keeping comics with only a handful of sales will be a little noisy. And to a more pragmatic point, the less comics, the less resource intensive it will be because the matrix will be not as big.

Arbitrarily going to pick >= 20 sales for now.

In [53]:
comic_ids = ( tot_sold_ids_only.groupBy("comic_id").count().
             filter(col('count') >= 20).select("comic_id")
            )

In [54]:
comic_ids.show()

+--------+
|comic_id|
+--------+
|    2250|
|    6721|
|    3009|
|    3015|
|    7130|
|    1010|
|    2173|
|    1840|
|    4551|
|    7121|
|    1642|
|     938|
|     243|
|     720|
|     278|
|    6287|
|     705|
|    2797|
|    1217|
|    1280|
+--------+
only showing top 20 rows

In [55]:
comic_ids.count()

790

#### Save to json

In [56]:
comic_ids_df = comic_ids.toPandas()

#### How many records are there after we limit to comics with mininum number of sales?

In [57]:
trans_df.shape

(327839, 8)

In [58]:
comic_ids_df.shape

(790, 1)

In [59]:
trans_df.columns

Index(['account_num', 'comic_title', 'date_sold', 'item_id', 'publisher',
       'qty_sold', 'title_and_num', 'dt'],
      dtype='object')

Make a pandas df of `comics`

In [60]:
comics_df = comics.toPandas()

In [61]:
comics_df.head()

   comic_id                          comic_title
0         1                0Secret Wars (Marvel)
1         2        100 Bullets Brother Lono (DC)
2         3    100 Penny Press Locke & Key (IDW)
3         4      100 Penny Press Star Trek (IDW)
4         5  100 Penny Press Thunder Agent (IDW)

In [62]:
comics_df_filtered = comics_df.merge(comic_ids_df, right_on="comic_id"
                                     ,left_on="comic_id"
                                     ,how="inner")

In [63]:
comics_df_filtered.shape

(790, 2)

In [64]:
comics_df_filtered.head()

   comic_id                                 comic_title
0         7          100th Anniversary Special (Marvel)
1        59                     8house Arclight (Image)
2        60                              8house (Image)
3        68                     Abe Sapien (Dark Horse)
4        69  Abe Sapien Devil Does Not Jes (Dark Horse)

In [65]:
comics_df_filtered.columns

Index(['comic_id', 'comic_title'], dtype='object')

In [66]:
tot_sold_ids_only.count()

61871

In [67]:
sold_ids_df = tot_sold_ids_only.toPandas()

In [68]:
sold_ids_df.head()

   account_id  comic_id  bought
0        2247       995       1
1         487      1102       1
2          29      2680       1
3        1260      4870       1
4         172      6023       1

In [69]:
sold_df_floored = sold_ids_df.merge(comics_df_filtered, right_on="comic_id"
                                  ,left_on="comic_id"
                                  ,how="inner")

In [70]:
sold_df_floored.head()

   account_id  comic_id  bought             comic_title
0         487      1102       1  Captain Swing (Avatar)
1          47      1102       1  Captain Swing (Avatar)
2         215      1102       1  Captain Swing (Avatar)
3         628      1102       1  Captain Swing (Avatar)
4          39      1102       1  Captain Swing (Avatar)

#### How many account-comic combos are there after filtering?

In [71]:
sold_df_floored.shape[0]

33138

In [72]:
trans_floored = trans_df.merge(comics_df_filtered, right_on="comic_title"
                                  ,left_on="comic_title"
                                  ,how="inner")

In [73]:
trans_floored.head()

,account_num,comic_title,date_sold,item_id,publisher,qty_sold,title_and_num,dt,comic_id
0,01033,Afterlife With Archie (Archie),1390505789000,DCD630105,Archie Comics,1,Afterlife With Archie #1 2nd P,2014-01-23 19:36:29,128
1,01333,Afterlife With Archie (Archie),1398947834000,DCD630105,Archie Comics,1,Afterlife With Archie #1 2nd P,2014-05-01 12:37:14,128
2,00946,Afterlife With Archie (Archie),1399904156000,DCD630105,Archie Comics,1,Afterlife With Archie #1 2nd P,2014-05-12 14:15:56,128
3,01278,Afterlife With Archie (Archie),1407954335000,DCD630105,Archie Comics,1,Afterlife With Archie #1 2nd P,2014-08-13 18:25:35,128
4,01212,Afterlife With Archie (Archie),1383751270000,DCD630105,Archie Comics,1,Afterlife With Archie #1 2nd P,2013-11-06 15:21:10,128

In [74]:
len(trans_floored['account_num'].unique())

1051

#### How many transactions after all filters
- Accounts with >= 5 transactions and <= 300 transactions
- Comics that have been bought by >= 20 accounts

In [ ]:
trans_floored.shape[0]

#### Number of comic - account combos

In [ ]:
sold_df_floored.shape

#### Number of unique accounts before filtering

In [ ]:
len(sold_ids_df['account_id'].unique())

#### Number of unique accounts after filtering

In [45]:
len(sold_df_floored['account_id'].unique())

NameError: name 'sold_df_floored' is not defined

In [46]:
comic_ids_df.to_json('raw_data/comic_ids.json', orient='records'
                     ,lines=True)

NameError: name 'comic_ids_df' is not defined

In [47]:
comic_ids_df.head()

NameError: name 'comic_ids_df' is not defined

In [48]:
acct_ids.count()

1071

In [49]:
cccdf = pd.read_json('raw_data/comic_ids.json',orient='records', lines=True )

In [54]:
total_combos = comic_ids.count() * acct_ids.count()
total_combos

846090

In [55]:
# Join together
all_combos = comic_ids.crossJoin(acct_ids).persist()

In [56]:
#all_combos.count()

In [57]:
sold = tot_sold_ids_only.alias("sold")

In [58]:
tot_sold_ids_only.columns

['account_id', 'comic_id', 'bought']

In [59]:
#all_combos.columns

In [60]:
final_combos = all_combos.join(sold, [sold.comic_id == all_combos.comic_id
                                      ,sold.account_id == all_combos.account_id], 
                              "left").select(all_combos.comic_id
                                             ,all_combos.account_id
                                             ,sold.bought).fillna(0).persist()

In [61]:
final_combos.show()

+--------+----------+------+
|comic_id|account_id|bought|
+--------+----------+------+
|    2250|       148|     0|
|    2250|      2659|     0|
|    2250|      1645|     0|
|    2250|      2142|     0|
|    2250|       833|     0|
|    2250|      1088|     0|
|    2250|      2866|     0|
|    2250|       897|     0|
|    2250|       243|     0|
|    2250|      1896|     0|
|    2250|      2811|     0|
|    2250|      2235|     0|
|    2250|      1025|     0|
|    2250|      1395|     0|
|    2250|      2563|     0|
|    2250|      1507|     0|
|    2250|      1522|     0|
|    2250|      1460|     0|
|    2250|      2393|     0|
|    2250|      1352|     0|
+--------+----------+------+
only showing top 20 rows

In [62]:
final_combos.count()

846090

In [63]:
sparse_numerator = sold.count()
sparse_denominator = final_combos.count()
sparsity = 1 - (sparse_numerator/sparse_denominator)
sparsity

0.9268742095994515

In [64]:
#df2.coalesce(1).write.format('json').save('/path/file_name.json')

In [65]:
#final_combos.write.format('json').save('raw_data/als_input_filtered_190915.json')

## Save this intermediate table.

To save work, if needed.

In [66]:
final_combos.rdd.saveAsPickleFile('raw_data/als_input_filtered_190915.pkl')

Test reconstituting the pickle

In [67]:
#pickleRdd = sc.pickleFile('raw_data/als_input_filtered_190915.pkl').collect()
#df2 = sql_context.createDataFrame(pickleRdd)

In [68]:
als_data = final_combos.toPandas()

In [69]:
#als_data.shape

In [70]:
als_data.to_json('raw_data/als_input_filtered_190915.json', orient='records'
                     ,lines=True)

In [ ]:
#!head raw_data/als_input_filtered.json

In [ ]:
import

In [75]:
unpickled_items = pd.read_pickle('support_data/item_factors_20190916.pkl')

In [76]:
comics_df.head()

   comic_id                          comic_title
0         1                0Secret Wars (Marvel)
1         2        100 Bullets Brother Lono (DC)
2         3    100 Penny Press Locke & Key (IDW)
3         4      100 Penny Press Star Trek (IDW)
4         5  100 Penny Press Thunder Agent (IDW)

In [77]:
unpickled_items.head()

    id                                           features
0   60  [0.01743680238723755, 0.007148396223783493, 1....
1   80  [0.0, 0.0, 0.03249182552099228, 0.113230571150...
2  110  [0.3528019189834595, 0.0, 0.0, 0.0, 0.27173796...
3  200  [0.014895367436110973, 0.32599085569381714, 0....
4  240  [0.0, 0.05928525701165199, 0.0, 0.0, 0.7101511...

In [78]:
ddd = unpickled_items.merge(comics_df, left_on='id', right_on='comic_id', how="inner")

In [82]:

ddd.head(20)

,id,features,comic_id,comic_title
0,60,"[0.01743680238723755, 0.007148396223783493, 1.06563401222229, 0.04059157520532608, 0.019294701516628265, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.006994778756052256, 0.0, 0.0, 0.0, 0.017005732282996178, 0.0, 0.036391135305166245, 0.0, 0.0, 0.0, 0.2501244843006134, 0.0, 0.0, 0.0, 0.0]",60,8house (Image)
1,80,"[0.0, 0.0, 0.03249182552099228, 0.11323057115077972, 0.0, 0.0, 0.0, 0.7948412299156189, 0.0, 0.0, 0.0, 0.0, 0.23714490234851837, 0.03495769575238228, 0.29481297731399536, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.22936636209487915, 0.03450985625386238, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.12904486060142517]",80,Action Comics Annual (DC)
2,110,"[0.3528019189834595, 0.0, 0.0, 0.0, 0.2717379629611969, 0.09929965436458588, 0.03336532041430473, 0.0, 0.0, 0.02282828837633133, 0.00937669724225998, 0.03452523052692413, 0.0, 0.0, 0.11529584974050522, 0.0, 0.0, 0.0, 0.12241517752408981, 0.01565462350845337, 0.13469548523426056, 0.003043871372938156, 0.856399416923523, 0.0, 0.0, 0.0, 0.0, 0.0, 0.12838362157344818, 0.10266077518463135]",110,Adventure Time (Boom)
3,200,"[0.014895367436110973, 0.32599085569381714, 0.09774906188249588, 0.05869003385305405, 0.016703536733984947, 0.0, 0.13506878912448883, 0.0, 0.0, 0.27643218636512756, 0.0, 0.03294535353779793, 0.0, 0.0, 0.18430395424365997, 0.9149331450462341, 0.13594630360603333, 0.0, 0.00893563311547041, 0.0, 0.0, 0.013972891494631767, 0.0, 0.0011329196859151125, 0.03825383633375168, 0.08892543613910675, 0.05580912530422211, 0.0, 0.0, 0.4417659640312195]",200,All Star Batman (DC)
4,240,"[0.0, 0.05928525701165199, 0.0, 0.0, 0.7101511359214783, 0.0, 0.08753978461027145, 0.0, 0.06151632219552994, 0.2771930396556854, 0.0, 0.007922252640128136, 0.0, 0.0, 0.3503260612487793, 0.14580319821834564, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.11093205213546753, 0.19919617474079132, 0.0, 0.3611432611942291, 0.0]",240,American Vampire Anthology (Vertigo)
5,350,"[0.055682793259620667, 0.0, 0.6749863028526306, 0.013113686814904213, 0.0, 0.0, 0.0, 0.0, 0.0, 0.3045289218425751, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.11782069504261017, 0.0, 0.0, 0.1311940848827362, 0.0, 0.0, 0.0, 0.21315258741378784, 0.0, 0.14129380881786346, 0.0, 0.03982365503907204, 0.0]",350,Archie Vs Predator (Dark Horse)
6,390,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.09049921482801437, 0.0, 0.0024481131695210934, 0.5992349982261658, 0.0, 0.0, 0.2540118396282196, 0.0, 0.0, 0.0, 0.0, 0.07782304286956787, 0.0, 0.0, 0.27484744787216187, 0.0, 0.0, 0.0, 0.0, 0.04194454848766327, 0.6620481014251709, 0.2000151425600052, 0.0]",390,Astonishing X-Men Xenogenesi (Marvel)
7,550,"[0.0, 0.0, 0.0, 0.0, 0.09550059586763382, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.19406788051128387, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.18187861144542694, 0.0, 0.0, 0.0, 0.0, 0.8805615901947021]",550,Batgirl and the Birds of Pre (DC)
8,560,"[0.0, 0.0, 0.0, 0.2889896333217621, 0.03442985936999321, 0.0, 0.2645479738712311, 0.1785186529159546, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.418406218290329, 0.012604725547134876, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.17129376530647278, 0.0]",560,Batman 66 (DC)
9,570,"[0.0, 0.0, 0.0, 0.0, 0.0255747027695179, 0.0, 0.046012356877326965, 0.8284474611282349, 0.0, 0.0, 0.0, 0.1420568823814392, 0.005514445248991251, 0.0, 0.43158581852912903, 0.09791368991136551, 0.0, 0.0, 0.005919487215578556, 0.0, 0.0, 0.10296624898910522, 0.0, 0.0, 0.10007777810096741, 0.0175032876431942, 0.0, 0.025328125804662704, 0.0, 0.0]",570,Batman and Batgirl (DC)
10,610,"[0.08776631951332092, 0.11949456483125687, 0.10800674557685852, 0.11326631158590317, 0.03535483404994011, 0.11744622886180878, 0.2232334017753601, 0.2814006805419922, 0.11848031729459763, 0.1477700173854828, 0.16663454473018646, 0.15001609921455383, 0.09289687871932983, 0.13396859169006348, 0.15592695772647858, 0.44703343510627747, 1.1138020753860474, 0.13549573719501495, 0.09525004774332047, 0.24038442969322205, 0.09271090477705002, 0.09144192188978195, 0.11011766642332077, 0.2522081434726715, 0.026044361293315887, 0.13150647282600403, 0.05181267112493515, 0.3333348035812378, 0.0014394682366400957, 0.2734295725822449]",610,Batman (DC)
11,630,"[0.0, 0.0, 0.0, 0.0, 0.055952973663806915, 0.0, 0.053831394761800766, 0.3566001057624817, 0.0, 0.0021601414773613214, 0.0, 0.0, 0.08236465603113174, 0.0, 0.7437989115715027, 0.13321879506111145, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01524095144122839, 0.0, 0.0, 0.0010975305922329426, 0.0, 0.03346440568566322, 0.03175180032849312, 0.03250405192375183, 0.0]",630,Batman Incorporated Special (DC)
12,640,"[0.0, 0.0, 0.0, 0.0, 0.09220319241285324, 0.03670668974518776, 0.29271572828292847, 0.8116762042045593, 0.0, 0.0, 0.12051231414079666, 0.08491391688585281, 0.14535659551620483, 0.0, 0.293813019990921, 0.2592865824699402, 0.43890249729156494, 0.11381615698337555, 0.19431670010089874, 0.1502845138311386, 0.0, 0.13069094717502594, 0.0, 0.0, 0.0, 0.0, 0.0, 0.05517221987247467, 0.028343547135591507, 0.0]",640,Batman (Other)
13,650,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.02203175611793995, 0.2211012989282608, 0.0, 0.0, 0.0, 0.0, 0.0, 0.4250902831554413, 0.0, 0.0, 0.05576923117041588, 0.0, 0.7647497057914734, 0.0, 0.0, 0.0636584535241127, 0.0, 0.0, 0.0, 0.0, 0.0, 0.05969487875699997]",650,Batman Teenage Mutant Ninja T (DC)
14,670,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01945817843079567, 0.0, 0.0, 1.05497407913208, 0.1653643399477005, 0.0, 0.0, 0.0, 0.0, 0.0, 0.09385707974433899, 0.45098018646240234, 0.06057720258831978, 0.0, 0.0, 0.0, 0.0, 0.018719499930739403]",670,Batman Who Laughs (DC)
15,720,"[0.0, 0.037170201539993286, 0.0, 0.0, 0.0, 0.04128973186016083, 0.05770556628704071, 0.0, 0.0, 0.01219105813652277, 0.015467141754925251, 0.09222107380628586, 0.0, 0.0, 1.1030280590057373, 0.0, 0.0, 0.0, 7.516479672631249e-05, 0.0, 0.0051133278757333755, 0.033038608729839325, 0.11449945718050003, 0.0, 0.0, 0.0, 0.010106275789439678, 0.0, 0.1189800575375557, 0.0]",720,Before Watchmen Nite Owl (Other)
16,960,"[0.0, 0.0, 0.0, 0.0, 0.12000048160552979, 0.06322496384382248, 0.0, 0.009445175528526306, 0.0, 0.0, 0.3420279920101166, 0.0, 1.1228139400482178, 0.1345144510269165, 0.11115571856498718, 0.08649680018424988, 0.0, 0.0, 0.0, 0.030210591852664948, 0.0, 0.0, 0.0, 0.0, 0.01317649707198143, 0.0, 0.0, 0.4684910774230957, 0.0, 0.0]",960,Brightest Day (DC)
17,1010,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.037230174988508224, 0.0, 0.0, 0.4888307750225067, 0.0, 0.8366148471832275, 0.039483871310949326, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.04727007821202278, 0.06134769693017006, 0.03611982986330986, 0.0, 0.0]",1010,Bulletproof Coffin (Image)
18,1110,"[0.0, 0.38402998447418213, 0.0, 0.0, 0.21930453181266785, 0.7095081806182861, 0.0, 0.0, 0.0, 0.03431170433759689, 0.04381325840950012, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.04038458690047264, 0.06181276589632034, 0.031776826828718185, 0.0, 0.12263660877943039, 0.0, 0.0, 0.0, 0.0, 0.07844913750886917, 0.0, 0.0]",1110,Carnage (Marvel)
19,1270,"[0.0, 0.0, 0.09535304456949234, 0.18006682395935059, 0.17085246741771698, 0.05075341463088989, 0.006643734406679869, 0.0, 0.07536077499389648, 0.0, 0.0, 0.42861536145210266, 0.015609324909746647, 0.0, 0.13087452948093414, 0.0, 0.0, 0.10570604354143143, 0.0, 0.7657244801521301, 0.0, 0.052096664905548096, 0.0, 0.0, 0.0, 0.04003891348838806, 0.0, 0.0, 0.0, 0.01344040036201477]",1270,Clone (Image)

In [80]:
pd.set_option('display.max_colwidth', -1)